<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U NiK</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="C:\Users\GAYU\Desktop\U Nik\static\style.css">
</head>

<body>
    
    <section id="header">
        <a href="#"><img src="C:\Users\GAYU\Desktop\U Nik\img\logo.png" class="logo" alt="" width="150" height="60"></a>
        
        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a  class="active"  href="products.html">Products</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="fa fa-shopping-bag"></i></a></li>
                <li><a href="cart.html"><i class="fa fa-user-secret"></i></a></li>
            </ul>
    </section>
    
    <section id="page-header">
        <h2>Stay Home</h2>
        <p>Save more with coupons & up to 70% off</p>
    </section>
    
    <section id="product1" class="section-p1">
       
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='sproduct.html'">
                <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-bag.jpg" height="400" alt="" >
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
            </div>
             <div class="pro">
                 <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-bag1.jpg" height="400" alt="">
                 <div class="des">
                     <span>adidas</span>
                     <h5>Cartoon Astronaut T-Shirts</h5>
                     <div class="star">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                     </div>
                     <h4>$78</h4>
                 </div>
                 <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
             </div>
              <div class="pro">
                  <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-bag2.jpg" height="400" alt="">
                  <div class="des">
                      <span>adidas</span>
                      <h5>Cartoon Astronaut T-Shirts</h5>
                      <div class="star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <h4>$78</h4>
                  </div>
                  <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
              </div>
               <div class="pro">
                   <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-bag3.jpg" height="400" alt="">
                   <div class="des">
                       <span>adidas</span>
                       <h5>Cartoon Astronaut T-Shirts</h5>
                       <div class="star">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                       </div>
                       <h4>$78</h4>
                   </div>
                   <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
               </div>
                <div class="pro">
                    <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-j1.jpg" height="350" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                </div>
                 <div class="pro">
                     <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-j.jpg" height="350" alt="">
                     <div class="des">
                         <span>adidas</span>
                         <h5>Cartoon Astronaut T-Shirts</h5>
                         <div class="star">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                         </div>
                         <h4>$78</h4>
                     </div>
                     <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                 </div>
                  <div class="pro">
                      <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-j3.jpg" height="350" alt="">
                      <div class="des">
                          <span>adidas</span>
                          <h5>Cartoon Astronaut T-Shirts</h5>
                          <div class="star">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </div>
                          <h4>$78</h4>
                      </div>
                      <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                  </div>
                   <div class="pro">
                       <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-j4.jpg" height="350" alt="">
                       <div class="des">
                           <span>adidas</span>
                           <h5>Cartoon Astronaut T-Shirts</h5>
                           <div class="star">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                           </div>
                           <h4>$78</h4>
                       </div>
                       <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                   </div>
       
                <div class="pro">
                <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-kid1.jpg" alt="" >
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
            </div>
             <div class="pro">
                 <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-kid2.jpg" alt="">
                 <div class="des">
                     <span>adidas</span>
                     <h5>Cartoon Astronaut T-Shirts</h5>
                     <div class="star">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                     </div>
                     <h4>$78</h4>
                 </div>
                 <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
             </div>
              <div class="pro">
                  <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-kid3.jpg" alt="">
                  <div class="des">
                      <span>adidas</span>
                      <h5>Cartoon Astronaut T-Shirts</h5>
                      <div class="star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <h4>$78</h4>
                  </div>
                  <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
              </div>
               <div class="pro">
                   <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-kid4.jpg" alt="">
                   <div class="des">
                       <span>adidas</span>
                       <h5>Cartoon Astronaut T-Shirts</h5>
                       <div class="star">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                       </div>
                       <h4>$78</h4>
                   </div>
                   <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
               </div>
                <div class="pro">
                    <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-shoe.jpg" height="350" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                </div>
                 <div class="pro">
                     <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-shoe1.jpg" height="350" alt="">
                     <div class="des">
                         <span>adidas</span>
                         <h5>Cartoon Astronaut T-Shirts</h5>
                         <div class="star">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                         </div>
                         <h4>$78</h4>
                     </div>
                     <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                 </div>
                  <div class="pro">
                      <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-shoe2.jpg" height="350" alt="">
                      <div class="des">
                          <span>adidas</span>
                          <h5>Cartoon Astronaut T-Shirts</h5>
                          <div class="star">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </div>
                          <h4>$78</h4>
                      </div>
                      <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                  </div>
                   <div class="pro">
                       <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-shoe3.jpg"  height="350" alt="">
                       <div class="des">
                           <span>adidas</span>
                           <h5>Cartoon Astronaut T-Shirts</h5>
                           <div class="star">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                           </div>
                           <h4>$78</h4>
                       </div>
                       <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                   </div>
        </div> 
    </section>
    
    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa fa-arrow-right"></i></a>
    </section>
    
    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign up for NewsLetters</h4>
            <p>Get Email updates about our latest shop and <span>special offer</span>
            </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your E-mail Address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
    
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="C:\Users\GAYU\Desktop\U Nik\img\logo.png" alt="" width="200" height="100">
            <h4>Contact</h4>
            <p><strong>E-Mail: </strong>unik@gmail.com</p>
            <p><strong>Phone: </strong>0000000000</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-pinterest-p"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
        </div>
        
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Tearms & Conditions</a>
            <a href="#">Contact us</a>
        </div>
        
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track my order</a>
            <a href="#">Help</a>
        </div>
       
    </footer>
          <div class="copyright">
              <center><p> C 2022, PNT2022TMID23050 - Smart Fashion Recommender Application </p></center>
          </div>
          
    
    
    
    <script src="script.js"></script>
    
</body>

</html>

